<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Api.ApiSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Api.ApiSettings>
            <setting name="Url" serializeAs="String">
                <value>https://api.openweathermap.org/data/2.5/weather?q=Santo%20Domingo,%20DO&amp;units=metric&amp;lang=es&amp;appid=7044b761a2ff327d5116dc33adef18ed</value>
            </setting>
        </Api.ApiSettings>
    </applicationSettings>
</configuration>